<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        <link rel="stylesheet" href="../static/styles/index.css" />
        <link rel="stylesheet" href="../static/styles/settings.css" />
    </head>
    <body>
        <div class="header">
            <div class="header_heading">
                <h1 class="header__h1">Shop</h1>
            </div>
            <div class="header__form">
                <form>
                    <input class="form__input" type="text" name="input_search" id="input__search" />
                    <input class="form__submit" type="submit" value="Search" />
                </form>
            </div>
            <div class="header__nav">
                <% if (typeof user_id != 'undefined') {%> <% if (is_admin =="true") {%>
                <a class="header__link" href="/admin-panel">Admin Panel</a>
                <a class="header__link" href="/admin-panel/add-new">Add New Product</a>
                <%}%> <% if (is_user == "true") {%>
                <a class="header__link" href="/users/profile">Profile</a>
                <a class="header__link" href="/cart">Cart</a>
                <%}%>
                <a class="header__link" href="/users/logout">Logout</a>
                <%} else {%>
                <a class="header__link" href="/users/login">Login Here!</a>
                <a class="header__link" href="/users/register">Create New Account</a>
                <% }%>
            </div>
        </div>
        <div class="main">
            <p class="main__heading">Products:</p>
            <div class="product__container">
                <%products.forEach(product => {%>
                <div class="product">
                    <p class="product__name"><%= product.name%></p>
                    <img class="product__img" src="/static/images/<%=product.photo%>"  />
                    <p class="product__price">Cena: <%= product.price%> $</p>
                    <p class="product__size">Rozmiar: <%= product.size%></p>
                    <% if (typeof user_id != 'undefined') {%>
                    <form action="" method="POST">
                        <input class="product__add" type="submit" name="Add <%=product.id%>" value="Add to Cart" />
                    </form>
                    <%}%>
                </div>
                <% })%>
            </div>
        </div>
        <script src="../static/scripts/index.js"></script>
    </body>
</html>
